/* ===================================================== */
/*              new design ... by owlman75               */
/* ===================================================== */

html, body{min-height:100%;height:auto;margin:0;padding:0;}

.site-body {
    min-height:100%;height:auto;margin:0;padding:0;
}

.content-body {
    margin-top:-20px;
    padding:20px 0 0 0;
    box-shadow: 10px 0 10px -10px #ccc , -12px 0 10px -10px #ccc; 
    -moz-box-shadow: 12px 0 10px -10px #ccc, -12px 0 10px -10px #ccc; 
    -webkit-box-shadow: 12px 0 10px -10px #ccc, -12px 0 10px -10px #ccc;

}

.top-logo {
    height:100px;
    max-width:480px;
}


.top-search {
    height:100px;
}

.top-orfo {
    height:100px;
    text-align:right;
}

.top-orfo > a {
    color:#ccc;
    font-size:10px;
}

.top-img > a > img {
    width:100px;
}

.top-name {
    margin-top:20px;
    font-size:18pt;
}

.top-slogan {
    font-size:9pt;
    
}

.search-form {
    margin-top:30px;
    height:35px;
    width:239px;
    border:1px solid #AAA;
}


.search-input {
    padding-left:1px;
    border:0;
    width:195px;
}

.search-btn {
    border:0;
    height:34px;
    background-color:#D4AC43;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.jumb {
    background-color:#777;
    color:#fff;
    box-shadow: 10px 0 10px -10px #ccc , -12px 0 10px -10px #ccc; 
    -moz-box-shadow: 12px 0 10px -10px #ccc, -12px 0 10px -10px #ccc; 
    -webkit-box-shadow: 12px 0 10px -10px #ccc, -12px 0 10px -10px #ccc;
}

.jumb > .container {
    margin:0;
}

.jumb-text {
    margin:0;
    font-size:11pt;
}

.cont{
    padding-top:20px;
    padding-bottom:25px;
}

.navbar {
    margin:0;
    font-size:16pt;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapse {
    padding:0;
}



.nav > li  > a {
    color:#ccc;
    padding:20px 35px 10px 35px;
    height:58px;
    border-left:1px solid #fff;
    border-right:1px solid #ccc;
}

.nav > .active  > a {
    border-left:0;
} 

/* pagination */

.pagination > li > a {
    color:#aaa;
}

.pagination > .active > a, .pagination>.active>a:hover, .pagination>.active>a:focus {
    background-color:#aaa;
    border-color:#aaa;
    
}
/* footer */

.footer {
    background-color:#777;
    color:#ccc;
    margin:0px;
    height:60px;
    padding-top:20px;
}

.footer-contact > a {
    color:#ccc;
}

/* ===================================================== */
/*            end  new design ... by owlman75            */
/* ===================================================== */


.icon-en {
    width: 15px;
    height: 10px;
    background:url(../img/flag_uk.gif);
    display: inline-block;
}



/* ================================================ */
/*issue-list thumb, thumbinail, issue-title ... by owlman75 */
/* ================================================ */

.thumb { 
    opacity: 0.9;
    padding-bottom: 15px;
}

.thumb:hover {
    opacity: 1.0;
}

.thumb > a:hover, .thumb > a:visited, .thumb > a:active {
    text-decoration: none;
}

.thumbnail:hover {
    -moz-box-shadow: 0 0 20px #0066CC;
    -webkit-box-shadow: 0 0 20px #0066CC;
    box-shadow: 0 0 20px #0066CC;
}

.issue-title {
    position: relative;
    padding: 15px 15px 15px;
    background-color: #f7f7f9;
    text-align:center;
    font:normal 16pt Arial;
}

.issue-img {
    padding-top:10px;
    padding-bottom:15px;
    text-align:center;
}

.issue-date {
    color:#999;
    font-size:10px;
}

/* ===================================================== */
/* end issue-list tumb, tumbinail, title ... by owlman75 */
/* ===================================================== */

/* Index description */
.index-description {
    margin-top:10px;
    
}
.index-description-content {
    padding-top:10px;
    font:normal 12pt/20pt Arial;
    text-align: justify;
    text-indent: 15px;
}
/* End Index description */

/* ===================================================== */
/*     issue-items news-line-items ... by owlman75       */
/* ===================================================== */
.news-line-dates {
    color:#DBC09A;
}

.news-line-dates > small > a,
.news-line-dates > small > a:hover,
.news-line-dates > small > a:visited,
.news-line-dates > small > a:active {
    color:#DBC09A;
}

.news-line-item {
    padding:5px 0 5px 10px;
    border-bottom:dotted 1px #eee;
}

.issue-item {
    padding:5px 0 5px 0;
    border-bottom:dotted 1px #eee;
}

.news-line-item > a,
.issue-item > a {
    font-size: 16px;
    font-weight: bold;
}

.news-line-item-resource {
    opacity: 0.4;
    color: #58A6E2;
    background-color: #fff;
    border:solid 1px #58A6E2;
    font-size: 8px;
    font-weight: bold;
}

.issue-item-resource {
    opacity: 0.4;
    color: #58A6E2;
    background-color: #fff;
    border:solid 1px #58A6E2;
    font-size: 10px;
    font-weight: bold;
}

.en {
    background-image:url('/static/img/gb.png');
    background-repeat:no-repeat;
    background-position:center center;
}

.ru {
    background-image:url('/static/img/ru.png');
    background-repeat:no-repeat;
    background-position:center center;
}


.goodnews {
    color:#58A6E2;
}

.issue-item-language {
    font-size: 8px;
    height:13px;
}

.news-line-item-bages > a:hover,
.issue-item-bages > a:hover {
    opacity: 1.0;
    color: #58A6E2;
}

.issue-item-description {
    padding-top:5px;
    padding-left:23px;
}

/* ===================================================== */
/*  End issue-items news-line-items ... by owlman75      */
/* ===================================================== */



/* ===================================================== */
/*                        Adaptive                       */
/* ===================================================== */

/* wide desktop */
@media (min-width: 1200px) {

}
/* desktop */
@media (min-width: 980px) and (max-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .top-logo {
        height:100px;
        max-width:150px;
        text-align:center;
        float:left;
    }


    .top-search {
        height:100px;
        width:500px;
        max-width:500px;
        float:left;
    }

    .top-orfo {
        width:100%;
        float:left;
        height:auto;
        text-align:left;
    }

    .jump-btn {
        margin:15px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .top-logo {
        height:100px;
        max-width:100px;
        text-align:center;
        float:left;
    }


    .top-search {
        height:100px;
        max-width:300px;
        float:left;
    }

    .top-orfo {
        width:100%;
        float:left;
        height:auto;
        text-align:left;
    }

    .jump-btn {
        margin:15px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    .jump-btn {
        margin:15px;
    }
}
/* ===================================================== */
/*                    End adaptive                       */
/* ===================================================== */


/* ================================================ */
/*                    News list (feed)              */
/* ================================================ */


.news-list a.section-link {
    text-decoration: underline;
    color: #c09853;
}

.news-list .item-container {
    margin-bottom: 15px;
}

/* ================================================ */
/*                    end News list (feed)          */
/* ================================================ */


/* ================================================ */
/*                Pygments syntax hilight           */
/* ================================================ */

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

/* ================================================ */
/*              end Pygments syntax hilight         */
/* ================================================ */

