html {
    min-height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
}

main {
    background: #E8ECEF;
    height: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.card {
    border: 1px solid #e5e5e5;
    border-radius: 0;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    /*margin-top: 100px;*/
    text-align: center;
    overflow: hidden;
}

.jumbotron-sm {
    padding-top: 25px;
    padding-bottom: 25px;
}

.card-img-top {
    width:100%;
    height:auto;
    padding: 5px;
}

.en {
    background-image: url('/static/img/gb.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ru {
    background-image: url('/static/img/ru.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.item-container {
    font-size: 0.9rem;
    border-left: 3px solid #9fd59f;
}

.item-container > .card-footer {
    padding: 5px 20px;
}

.item-as-line {
    font-size: 0.9rem;
}

.item-attributes, .item-tags {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0.8rem;
}

.item-attributes > li {
    display: inline-block;
    padding-right: 15px;
}

.item-tags > li {
    display: inline-block;
    padding-right: 5px;
}

.form-content {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0;
}