      body {
        padding-top: 20px;
      }
      .footer {
        border-top: 1px solid #eee;
        margin-top: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
        text-align: center;
        background-color: transparent;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      /* Customize the nav-justified links to be fill the entire space of the .navbar */
      .nav-justified {
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      .nav-justified > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #777;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #d5d5d5;
        background-color: #e5e5e5;
        /* Old browsers */
        background-repeat: repeat-x;
        /* Repeat the gradient */
        background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5));
        /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* Chrome 10+,Safari 5.1+ */
        background-image: -ms-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* IE10+ */
        background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* Opera 11.10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0);
        /* IE6-9 */
        background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* W3C */
      }
      .nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
        background-color: #ddd;
        background-image: none;
        box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
      }
      .nav-justified > li:first-child > a {
        border-radius: 5px 5px 0 0;
      }
      .nav-justified > li:last-child > a {
        border-bottom: 0;
        border-radius: 0 0 5px 5px;
      }
      @media(min-width: 768px) {
        .nav-justified {
          max-height: 52px;
        }
        .nav-justified > li > a {
          border-left: 1px solid #fff;
          border-right: 1px solid #d5d5d5;
        }
        .nav-justified > li:first-child > a {
          border-left: 0;
          border-radius: 5px 0 0 5px;
        }
        .nav-justified > li:last-child > a {
          border-radius: 0 5px 5px 0;
          border-right: 0;
        }
      }
      /* Responsive: Portrait tablets and up */
      @media screen and(min-width: 768px) {
        /* Remove the padding we set earlier */
        .masthead, .marketing, .footer {
          padding-left: 0;
          padding-right: 0;
        }
      }

/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */

.bs-example {
  position: relative;
  padding: 15px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #f7f7f9;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}


/* Tweak display of the code snippets when following an example */
.bs-example + .highlight {
  margin: -15px -15px 15px;
  border-radius: 0;
  border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media screen and (min-width: 768px) {
  .bs-example {
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .bs-example + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.highlight {
  display: none; /* hidden by default, until >480px */
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

/* Show code snippets when we have the space */
@media screen and (min-width: 481px) {
  .highlight {
    display: block;
  }
}

.item-card .brief {
    margin-top: 10px;
}

.cards-list {
    margin-top: 20px;
}

.icon-en {
    width: 15px;
    height: 10px;
    background:url(../img/flag_uk.gif);
    display: inline-block;
}

#orphus img {
    width: 240px;
    height: 80px;
    float:right;
}

#rss-link {
    float: left;
}

.nopad {
    padding: 0;
    margin-bottom: 15px;
}

.has-error ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: #B94A48;
    font-size: x-small;
}

/* ======================================================= */
/* issue-list thumb, thumbnail, issue-title ... by owlman75 */
/* ======================================================= */

.thumb { 
    opacity: 0.9;
    padding-bottom: 15px;
}

.thumb:hover {
    opacity: 1.0;
}

.thumb > a:hover, .thumb > a:visited, .thumb > a:active {
    text-decoration: none;
}

.thumbnail:hover {
    -moz-box-shadow: 0 0 20px #0066CC;
    -webkit-box-shadow: 0 0 20px #0066CC;
    box-shadow: 0 0 20px #0066CC;
}

.issue-title {
    position: relative;
    padding: 15px 15px 15px;
    background-color: #f7f7f9;
    text-align:center;
    font:normal 16pt Arial;
}

.issue-img {
    padding-top:10px;
    padding-bottom:15px;
    text-align:center;
}

/* ===================================================== */
/* end issue-list tumb, tumbinail, title ... by owlman75 */
/* ===================================================== */