{% load remdow %}
{% load video %}
{% load micawber_tags %}


{% if link and link|is_youtube and link|oembed_no_urlize != link %}
    {% filter remdow %}
        <p>
        <center>
            <a href="{{ link }}">
                {% youtube_id link as yotu_id %}
                {% with "http://img.youtube.com/vi/"|add:yotu_id|add:"/hqdefault.jpg" as yotu_link %}
                    {{ '<img src="'|add:yotu_link|add:'"/>'|remdow|responsive|safe }}
                {% endwith %}
            </a>
        </center>
        </p>
    {% endfilter %}
{% endif %}