[tool.poetry]
name = "pythondigest"
version = "0.1.0"
description = ""
authors = ["axsapronov <a@sapronov.me>"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
django = {extras = ["argon2"], version = "^4.2.18"}
django-bootstrap-form = ">=3.4"
django-digg-paginator = ">=0.2.0"
django-user-accounts = ">=3.3.2"
django-taggit-autosuggest = ">=0.4.2"
django-taggit = "<5.0.0"
django-modeladmin-reorder = ">=0.3.1"
django-ckeditor = ">=6.7.2"
django-siteblocks = ">=1.2.1"
django-cachalot = ">=2.7.0"
django-compressor = ">=4.5.1"
django-secretballot = ">=2.0.0"
django-likes = {git = "https://github.com/axsapronov/django-likes.git", rev = "django4-signals"}
django-debug-toolbar = "^5.0.1"
django-remdow = ">=0.0.9"
requests = ">=2.32.3"
lxml = "^5.3.0"
pyyaml = ">=6.0.2"
beautifulsoup4 = ">=4.13.0"
feedparser = ">=6.0.11"
pytils = "^0.4.1"
sorl-thumbnail = "^12.11.0"
stem = ">=1.8.2"
urlobject = ">=2.4.3"
micawber = ">=0.5.6"
rsa = ">=4.9"
twx-botapi = "3.6.1"
google-api-python-client = "^2.160.0"
tweepy = "<4"
funcy = "^2.0"
pillow = "^11.1.0"
unidecode = ">=1.3.8"
readability-lxml = {git = "https://github.com/buriy/python-readability.git", branch = "master"}
psycopg2-binary = "^2.9.10"
pymemcache = "^4.0.0"
django-browser-reload = "^1.17.0"
django-bootstrap3 = "^24.3"
django-yaturbo = "^1.0.1"
bleach = "^6.2.0"
django-environ = "^0.12.0"
django-redis = "^5.4.0"
sentry-sdk = "^2.20.0"
django-letsencrypt = "^4.1.0"
django-cache-memoize = "^0.2.1"
django-htmlmin = "^0.11.0"
uwsgi = "^2.0.28"
whitenoise = {extras = ["brotli"], version = "^6.8.2"}
uvicorn = "^0.34.0"
lingua-language-detector = "^1.4.0"
vk = ">=3.0"
langchain = "^0.2.17"
jinja2 = "^3.1.5"
tqdm = "^4.67.1"

[tool.poetry.group.test.dependencies]
django-stubs = ">=5.1.2"
pytest = ">=8.3.4"
pytest-sugar = ">=1.0.0"
pytest-django = ">=4.9.0"
factory-boy = ">=3.3.1"
mock = ">=5.1.0"

[tool.poetry.group.dev.dependencies]
flake8 = ">=7.1.1"
flake8-isort = ">=6.1.2"
coverage = ">=7.6.10"
black = ">=25.1.0"
pylint-django = ">=2.6.1"
pre-commit = ">=4.1.0"
django-extra-checks = ">=0.16.1"
django-migration-linter = ">=5.1.0"
autoflake = ">=2.3.1"
detect-secrets = ">=1.5.0"
safety = ">=3.2.14"
poetry-plugin-up = "^0.9.0"
ruff = "^0.9.4"

[tool.black]
line-length = 119
target-version = ['py311']
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 119
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
ensure_newline_before_comments = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
