# django and django misc
Django<1.10
django-concurrency
django-rosetta
django-bootstrap-form
django-digg-paginator
django-user-accounts
django-taggit
django-taggit-autosuggest
django-modeladmin-reorder
django-ckeditor
django-q
django-siteblocks
django-cachalot

django-controlcenter
#-e git+https://github.com/byashimov/django-controlcenter.git#egg=controlcenter
django_compressor
django-htmlmin

django-secretballot
django-likes
#-e git+https://github.com/WarmongeR1/django-likes#egg=likes
#-e git+https://github.com/WarmongeR1/django-secretballot.git#egg=secretballot
django-debug-toolbar
django-remdow
python-memcached

# common
requests
lxml
PyYAML

# news parsing
beautifulsoup4
feedparser
Pillow
pygoogle-simple
pytils
sorl-thumbnail
stem
URLObject
readability-lxml
allmychanges
micawber
unidecode

# users
python-social-auth==0.2.14

# bot
twx.botapi
google-api-python-client
tweepy
vk

# tests
tox
mock

# other
typing
funcy
Fabric
