# django not release yet
git+git://github.com/django/django.git@1.7b4
#Django==1.7
Pillow==2.4.0
argparse==1.2.1
django-admin-bootstrapped
django-concurrency==0.7.1
django-menus==1.1.2
django-digg-paginator
pytils==0.3
git+git://github.com/mariocesar/sorl-thumbnail.git@v11.12.1b
feedparser==5.1.3
