beautifulsoup4==4.3.2
bootstrap-admin-legacy==0.1.4
Django==1.8.3
django-concurrency==0.9
django-digg-paginator==0.1.2
feedparser==5.1.3
Pillow==2.8.1
pygoogle-simple==0.2.3
pytils==0.3
sorl-thumbnail==12.2
stem==1.3.0
URLObject==2.3.4
requests==2.7.0
readability-lxml==0.6.0.5