ansicon==1.89.0; platform_system == "Windows"
appdirs==1.4.4
argparse==1.4.0
arrow==0.8.0
beautifulsoup4==4.5.1
blessed==1.19.1
chardet==3.0.4
colorama==0.4.1; sys_platform == "win32"
cssselect==1.1.0
defusedxml==0.5.0; python_version >= "3"
distlib==0.3.6
django==1.11.29
django-appconf==1.0.4
django-bootstrap-form==3.2.1
django-cachalot==1.2.1
django-ckeditor==5.1.0
django-compressor==2.1
django-concurrency==2.4
django-controlcenter==0.3.1
django-debug-toolbar==1.5
django-digg-paginator==0.1.3
django-etc==1.4.0
django-htmlmin==0.9.1
django-likes==2.0.1
django-modeladmin-reorder==0.3.1
django-picklefield==0.3.2
django-pkgconf==0.4.0
django-q==0.7.18
django-remdow==0.0.6
django-rosetta==0.7.12
django-secretballot==2.0.0
django-siteblocks==0.5.1
django-taggit==0.21.2
django-taggit-autosuggest==0.3.0
django-user-accounts==1.3.1
ecdsa==0.18.0
fabric==1.12.0
feedparser==5.2.1
filelock==3.0.12
funcy==1.7.1
future==0.18.2
google-api-python-client==1.5.3
html5lib==1.0.1
httplib2==0.21.0
importlib-metadata==1.1.3; python_version < "3.8"
importlib-resources==1.0.2; python_version < "3.7"
jinxed==1.2.0; platform_system == "Windows"
lxml==3.6.4
micawber==0.3.3
microsofttranslator==0.8
mock==2.0.0
oauth2client==3.0.0
oauthlib==3.1.0
paramiko==1.18.5
pbr==5.11.0
pillow==3.3.1
pluggy==0.3.1
polib==1.1.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pyjwt==1.7.1
pyparsing==2.4.7; python_version > "3.0"
pytest==3.2.5
pytest-runner==5.2
python-dateutil==2.8.2
python-memcached==1.58
python-social-auth==0.2.14
python3-openid==3.2.0; python_version >= "3"
pytils==0.3
pytz==2022.6
pyyaml==3.12
rcssmin==1.0.6
readability-lxml==0.6.2
requests==2.11.1
requests-oauthlib==1.3.1
rjsmin==1.0.12
rsa==3.4.2
six==1.16.0
sorl-thumbnail==12.3
sqlparse==0.3.1
stem==1.4.0
tox==2.3.1
tweepy==3.5.0
twx.botapi==2.1.0
typing==3.10.0.0
unidecode==0.04.19
uritemplate==0.6
urlobject==2.4.2
virtualenv==20.4.7
wcwidth==0.2.5
webencodings==0.5.1
zipp==1.2.0; python_version < "3.8"
