{% load pytils_dt %}
{% load common %}
{% load micawber_tags %}
{% load i18n %}
{% load remdow %}

<div class="item-container card">
    <div class="card-block">
    <noindex>
        <h5 class="card-title">
            {% if like_link %}
                {% load likes_inclusion_tags %}
                {% likes object 'likes/inclusion_tags/likes_item.html' %}
            {% endif %}

            {% comment %}
              {% if comment %}
                &nbsp;
                  <span class="text-primary">
                      <a href="{{ item.internal_link }}" title="{% trans 'Comment link' %}">
                          <i class="fa fa-comments-o"></i>
                      </a>
                  </span>
              {% endif %}
            {% endcomment %}

            &nbsp;
            <span title="{% trans 'Language of the news' %}" class="badge news-line-item-resource {{ object.language }}">
              &nbsp;&nbsp;&nbsp;&nbsp;
            </span>

            {% if read_link %}
                {{ object.title }}
            {% else %}
                <a rel="nofollow"
                   href="{{ object.link }}"
                   onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
                   target="_blank">

                    {{ object.title }}

                </a>
            {% endif %}
        </h5>

        {% if object.description %}
            <p class="card-text">{{ object.description|default:''|img_local|img_center|img_responsive|img_lazy }}</p>
        {% endif %}
        {% if object.additionally and object.additionally|oembed_no_urlize != object.additionally %}
            {{ object.additionally|oembed }}
        {% endif %}
        {% if  object.link|oembed_no_urlize != object.link %}
            {{ object.link|oembed }}
        {% endif %}


        {% if read_link %}
            <a rel="nofollow" class="btn btn-primary btn-sm pull-xs-left"
               href="{{ object.link }}"
               onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
               target="_blank">{% trans 'Read' %}>></a>
            <div class="addthis_sharing_toolbox pull-xs-right"></div>
        {% endif %}
    </noindex>
    </div>

    {% if object.tags_as_links %}
    <div class="card-footer text-muted">
        <!--TAGS-->
            <ul class="item-tags text-muted card-text">
                <i class="fa fa-tags" aria-hidden="true"></i>{% trans 'Tags:' %}&nbsp;

                {% for tag_name, tag_link in item.tags_as_links %}
                    <li>
                        <a href="{{ tag_link }}">
                            <span class="label label-info">
                                {{ tag_name }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        <!--/TAGS-->
    </div>
    {% endif %}
</div>
