{% load pytils_dt %}
{% load common %}
{% load micawber_tags %}

{% load remdow %}

<div class="item-container card">
    <div class="card-block">
    <noindex>
        <h5 class="card-title">
            {% if like_link %}
                {% load likes_inclusion_tags %}
                {% likes object 'likes/inclusion_tags/likes_item.html' %}
            {% endif %} &nbsp;
            {% if comment %}
                <span class="text-primary">
                    <a href="{{ item.internal_link }}" title="Прокомментировать ссылку">
                        <i class="fa fa-comments-o"></i>
                    </a>
                </span>
                &nbsp;
            {% endif %}
            {% if read_link %}
                {{ object.title }}
            {% else %}
                <a rel="nofollow"
                   href="{{ object.link }}"
                   onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
                   target="_blank">

                    {{ object.title }}

                </a>
            {% endif %}
        </h5>

        {% if object.description %}
            <p class="card-text">{{ object.description|default:''|img_local|img_center|img_responsive|img_lazy }}</p>
        {% endif %}
        {% if object.additionally and object.additionally|oembed_no_urlize != object.additionally %}
            {{ object.additionally|oembed }}
        {% endif %}
        {% if  object.link|oembed_no_urlize != object.link %}
            {{ object.link|oembed }}
        {% endif %}


        {% if read_link %}
            <a rel="nofollow" class="btn btn-primary btn-sm pull-xs-left"
               href="{{ object.link }}"
               onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
               target="_blank">Читать>></a>
            <div class="addthis_sharing_toolbox pull-xs-right"></div>
        {% endif %}
    </noindex>
    </div>

    <div class="card-footer text-muted">
        <!--TAGS-->
        {% if object.tags_as_links %}

            <ul class="item-tags text-muted card-text">
                <i class="fa fa-tags" aria-hidden="true"></i>Tags:&nbsp;

                {% for tag_name, tag_link in item.tags_as_links %}
                    <li>
                        <a href="{{ tag_link }}">
                            <span class="label label-info">
                                {{ tag_name }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <!--/TAGS-->

        <!--CREATE DATE-->
        <ul class="item-attributes text-muted card-text">
            <li>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    Create date:&nbsp;
                    {{ object.created_at|date:"d.m.Y" }}
            </li>
        <!--/CREATE DATE-->
        <!--ISSUE-->
        {% if object.issue.status == 'active' %}
            <li>
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    Issue:&nbsp;
                    <a href="{{ object.issue.link }}" class="section-link">{{ object.issue.title }}</a>
                    ({{ object.issue.date_from|date:"d.m.Y" }} -
                    {{ object.issue.date_to|date:"d.m.Y" }})
            </li>
        {% endif %}
        <!--/ISSUE-->
        <!--SECTION-->
        {% if object.section %}
            <li>
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                    Section:&nbsp;
                    <a href="{% modify_url 'set_query_param_np' 'section' object.section.pk %}">{{ object.section.title }}</a>
            </li>
        {% endif %}
        <!--/SECTION-->
        <!--LANGUAGE-->
            <li>
                    <i class="fa fa-language" aria-hidden="true"></i>
                    Language:&nbsp;
                <span title="Язык новости" class="badge news-line-item-resource {{ object.language }}">
                &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </li>
        </ul>
        <!--/LANGUAGE-->
    </div>
</div>