{% load i18n %}
{% if items %}
    <div class="card hidden-md-down">
        <div class="card-header">{% trans "Latest news" %}</div>
        <ul class="list-group list-group-flush">
            {% for object in items %}
                <li class="list-group-item item-as-line">
                    {% include 'digest/blocks/_item_as_line.html' with item=object comment=False likes=True %}
                </li>
            {% endfor %}
        </ul>
        <div class="card-block text-xs-center">
            <a class="btn btn-primary" href="{% url 'digest:feed' %}">{% trans "Show all" %}</a>
        </div>
    </div>
{% endif %}
