{% load common %}
{% load remdow %}
{% load i18n %}
{% if item and item.text %}

    <hr>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{% trans 'Experimental function:' %}</h3>
            <p>{% blocktrans %}Below you can see the text of the article you can follow by the link. You can quickly understand the link worth reading or not{% endblocktrans %}</p>
            <p>{% blocktrans %}Please note that the text under the link may not
match with text here.{% endblocktrans %}</p>

            <button type="button"
                    class="btn btn-default btn-large spoiler-trigger"
                    data-toggle="collapse">{% trans 'Article text' %}
            </button>
        </div>
        <div class="panel-collapse collapse out">
            <div class="panel-body">
                <div class="item-article-text">
                    {{ item.text|remove_classes|safe|img_local|img_center|img_responsive|img_lazy }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <script>
        $(".spoiler-trigger").click(function () {
            $(this).parent().next().collapse('toggle');
        });
    </script>
{% endif %}
