{% load common %}
{% load remdow %}
{% if item and item.text %}

    <hr>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Экспериментальная функция:</h3>
            <p>Ниже вы видите текст статьи по ссылке. По нему можно быстро понять ссылка достойна прочтения или нет</p>
            <p>Просим обратить внимание, что текст по ссылке и здесь может не совпадать.</p>

            <button type="button" class="btn btn-default btn-large spoiler-trigger" data-toggle="collapse">Текст
                статьи
            </button>
        </div>
        <div class="panel-collapse collapse out">
            <div class="panel-body">
                <div class="item-article-text">
                    {{ item.text|remove_classes|safe|img_local|img_center|img_responsive|img_lazy }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <script>
        $(".spoiler-trigger").click(function () {
            $(this).parent().next().collapse('toggle');
        });
    </script>
{% endif %}