{% load common %}
{% load remdow %}
{% load i18n %}


<!-- Yandex.RTB R-A-287000-2 -->
<div id="yandex_rtb_R-A-287000-2"></div>
<script type="text/javascript">
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Context.AdvManager.render({
                blockId: "R-A-287000-2",
                renderTo: "yandex_rtb_R-A-287000-2",
                async: true
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//an.yandex.ru/system/context.js";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(this, this.document, "yandexContextAsyncCallbacks");
</script>


{% if item and item.text %}

    <hr>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{% trans 'Experimental function:' %}</h3>
            <p>{% blocktrans %}Below you can see the text of the article you can follow by the link. You can quickly understand the link worth reading or not{% endblocktrans %}</p>
            <p>{% blocktrans %}Please note that the text under the link may not
match with text here.{% endblocktrans %}</p>

            <button type="button"
                    class="btn btn-default btn-large spoiler-trigger"
                    data-toggle="collapse">{% trans 'Article text' %}
            </button>
        </div>
        <div class="panel-collapse collapse out">
            <div class="panel-body">
                <div class="item-article-text">
                    {{ item.text|remove_classes|safe|img_local|img_center|img_responsive|img_lazy }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <script>
        $(".spoiler-trigger").click(function () {
            $(this).parent().next().collapse('toggle');
        });
    </script>
{% endif %}
