{% extends "base.html" %}
{% load thumbnail %}
{% load common %}

{% block page_title %}{{ object.title }}{% if object.trend %} -
    {{ object.trend }}{% endif %} - {{ block.super }}{% endblock %}
{% block page_description %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block extra_head %}

    {% thumbnail object.image "350" as im %}
        <link rel="image_src" href="http://pythondigest.ru{{ im.url }}">

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@pydigest"/>
        <meta name="twitter:title" content="{{ object.title }}"/>
        <meta name="twitter:description"
              content="Новый выпуск еженедельного дайджеста новостей о #python уже в эфире!"/>
        <meta name="twitter:image"
              content="http://pythondigest.ru{{ im.url }}"/>
        <meta name="twitter:url"
              content="http://pythondigest.ru{{ object.link }}"/>

        <meta property="og:description"
              content="{{ object.description|striptags|truncatechars:500 }}" />
        <meta property="og:type"               content="article" />
        <meta property="og:url"                content="http://pythondigest.ru{{ object.link }}" />
        <meta property="og:title"              content="{{ object.title }}" />
        <meta property="og:image"              content="http://pythondigest.ru{{ im.url }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="350" />
        <meta property="og:image:height" content="350" />

        <meta property="og:locale" content="ru_RU"/>
        <meta property="og:site_name" content="Python Digest"/>
        <meta name="description"
              content='{{ object.description|striptags|truncatechars:500 }}'>


    {% endthumbnail %}
{% endblock %}

{% block body %}


    <div class="col-md-9">
        {% if issue %}
            <div class="issue">
                {% with object=issue %}

                    {% with object=object %}
                        {% include 'digest/blocks/_issue_anounce.html' %}
                    {% endwith %}

                {% endwith %}


                {% regroup items by section as groups %}
                {% for data in groups %}
                    <div class="items-group-container">

                        {% with "before_section_"|add:data.grouper.title|unidecode|slugify as ads_section %}
                            <a type='button' data-toggle="collapse"
                               data-target="#{{ ads_section }}">
                                <h2>{{ data.grouper.title }}</h2></a>
                            {% include 'advertising/blocks/ads.html' with ads=ads type=ads_section %}

                            <div id="{{ ads_section }}" class="collapse in">

                                {#                        <blockquote>#}
                                {#                            <div class="bg-warning">#}
                                {#                                <b>Разместим вашу рекламную ссылку. Пишите на <a href="mailto:mail@pythondigest.ru">mail@pythondigest.ru</a></b>#}
                                {#                            </div>#}
                                {#                        </blockquote>#}


                                {% for item in data.list %}
                                    <div class="item-container">
                                        {% with item=item %}
                                            {% include "digest/blocks/_item.html" %}
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endwith %}
                    </div>
                {% endfor %}

                {% include 'advertising/blocks/ads.html' with ads=ads type='after_issue' %}

            </div>
        {% endif %}


    </div>

    <div class="col-md-3">
        {% include 'blocks/_right_panel.html' %}
    </div>




{% endblock %}
