{% extends "base.html" %}
{% load micawber_tags %}
{% load pytils_dt %}
{% load common %}
{% load static %}

{% block page_title %}{{ object.title}}{% endblock %}


{% block body %}

    <div class="col-md-9">
        <div class="news-list">
            {% with item=object read_link=True %}
                {% include 'digest/blocks/_feed_item.html' with like_link=False %}

            {% endwith %}

            <hr>

        </div>
    </div>

    <div class="col-md-3">
        {% include 'blocks/_right_panel.html' %}
    </div>


{% endblock %}
