{% extends 'base.html' %}
{% load static %}
{% block page_title %}Наши друзья{% endblock %}


{% block content %}

    <h1 class="text-center text-capitalize">Реклама на проекте</h1>
    <hr>


    <div class="col-md-12">
        <a href="https://www.python.org/psf/">
            <img src="{% static 'img/friends/psf-logo.png' %}"
                 style="max-width: 250px"
                 alt="Python Software Foundation">
        </a>

        Добрый день.
        Рассмотрели вашу на ссылку. По ней нашли платный курс.

        Для платных курсов у нас есть несколько вариантов размещения:

        Вариант 1:

        - Размещение ссылки в блоке "Учебные материалы" - 1000р.

        Такая ссылка будет опубликована на сайте, попадет в недельный дайджест,
        а также появится в Telegram канале http://telegram.me/py_digest (245
        читателей) и Twitter https://twitter.com/pydigest (663 читателей) и у
        пользователей, которые читают контент через RSS

        Вариант 2:

        Размещение ссылки на сайте вне дайджеста:

        - Сразу после анонса выпуска на сайте - 1000 руб
        - После всего дайджеста - 500 руб (перед блоком с комментариями)
        - В правой колонке - 700 руб


        Вариант 3:

        Упоминание курса в анонсе, который публикуется в соц. сетях - 2000 руб.
        Анонс публикуется в большом количестве групп в соц. сетях


    </div>




{% endblock %}
