{% load static %}

<br>
<div class="panel panel-default widget">
    <div class="panel-body">
        <div class="text-center">
            <h3>Разместим вашу рекламу</h3>
            <h4>Пиши: <a href="mailto:mail@pythondigest.ru">mail@pythondigest.ru</a></h4>
        </div>
    </div>
</div>

<div class="panel panel-default widget">
    <div class="panel-body">
        <div class="text-center">
            <a href="http://piterpy.ru">
                <img src="{% static 'img/conf/piterpy_3_350x350.jpg' %}" style="max-width: 100%;"
                     class="top-img pull-left">

            </a>
        </div>
    </div>
</div>

