<script type="text/javascript">
    $(document).ready(function () {
        $('.show-comments').on('click', function () {
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'pythondigest'; // required: replace example with your forum shortname
            {% if identifier %}
                var disqus_identifier = '{{ identifier }}';
            {% endif %}

            // ajax request to load the disqus javascript
            $.ajax({
                type: "GET",
                url: "http://" + disqus_shortname + ".disqus.com/embed.js",
                dataType: "script",
                cache: true
            });
            // hide the button once comments load
            $(this).fadeOut();
        });
    });
</script>


