{% if items %}
    {% load likes_inclusion_tags %}
    <div class="issue issue-end issue-end">
        <h3 class="text-center">Пользователям нравятся</h3>
        <hr>
        {% for object in items %}


            <p>{% likes item 'likes/inclusion_tags/likes_item.html' %}
                <b><a rel="nofollow"
                      href="{{ object.link }}"
                      onclick="trackUrl({{ object.pk }}, '{{ object.section }}', '{{ object.get_tags_str }}');"
                      target="_blank">
                    {{ object.title }}
                </a>
                </b>
            </p>
        {% endfor %}

    </div>
{% endif %}
