{% if items %}
    <div class="issue issue-end issue-end">
        <h3 class="text-center">Свежие новости</h3>
        <hr>
        {% for object in items %}

            <p><a rel="nofollow"
                  href="{{ object.link }}"
                  onclick="trackUrl({{ object.pk }}, '{{ object.section }}', '{{ object.tags_as_str }}');"
                  target="_blank">
                {{ object.title }}
            </a>

            </p>
        {% endfor %}

        <br>
        <h4 class="text-center">

            <b><a href="{% url 'digest:feed' %}">Просмотреть все</a></b></h4>
    </div>

    <br>
{% endif %}
