<div class="container-fluid">
    <div class="footer navbar-fixed-bottom">
        <div class="footer-contact col-md-4">
            Контакты:
            <a href="https://github.com/pythondigest/pythondigest"
               title="GitHub"><i
                    class="fa-brands fa-github fa-lg"></i></a>
              <a href="https://t.me/axsapronov"
               title="Telegram"><i
                    class="fa-brands fa-telegram fa-lg"></i></a>

            <a href="mailto:mail@pythondigest.ru"><i
              class="fa fa-envelope fa-lg"></i></a>
            &nbsp;&nbsp;
            Фиды:
            <a href="{% url 'frontend:rss' %}" title="RSS feed"><i
                    class="fa fa-rss-square fa-lg"></i></a>
            &nbsp;<a href="https://twitter.com/pydigest" title="Twitter feed"><i
                class="fa-brands fa-twitter-square fa-lg"></i></a>

        </div>
        <div class="col-md-4 footer-contact" align="center">
            <a href="https://firstvds.ru/?from=421453">Мы хостимся на
                FirstVDS.ru - Дешевый хостинг в России</a>
        </div>
        <div class="footer-copyright col-md-4" align="right">
            &copy; Дайджест новостей о python 2013 — {% now "Y" %}
        </div>
    </div>
</div>
