{% load i18n %}

<div class="container-fluid">
    <div class="col-md-2">
        <a href="mailto:mail@pythondigest.ru">
            <i class="fa fa-envelope fa-lg"></i>
        </a>
        <a href="https://github.com/pythondigest/pythondigest" title="GitHub">
            <i class="fa fa-github-square fa-lg"></i>
        </a>
        <a href="https://twitter.com/pydigest" title="Twitter feed">
            <i class="fa fa-twitter-square fa-lg"></i>
        </a>
        <a href="{% url 'frontend:rss' %}" title="RSS feed">
            <i class="fa fa-rss-square fa-lg"></i>
        </a>
    </div>
    <div class="col-md-6">
        <a href="https://firstvds.ru/?from=421453">{% trans 'We are hosting at FirstVDS.ru - Cheap hosting in Russia' %}</a>
    </div>
    <div class="col-md-4">
        <i class="fa fa-copyright"></i>{% now "Y" as current_time %}{% blocktrans %}Python news digest 2013 — {{ current_time }} {% endblocktrans %}
    </div>
</div>
