<div class="panel panel-default">
    <div class="panel-heading">
        <center><h4>НАШИ ДРУЗЬЯ</h4></center>
    </div>
    <div class="panel-body">
        <center>
            <p>
                <a href="http://python.su">
                    <img src="/static/img/friends/pythonsu.gif" alt="python.su">
                </a>
            </p>

            <p>
                <a href="http://pythonworld.ru">
                    <img src="/static/img/friends/pythonworld.gif"
                         alt="pythonworld.ru">
                </a>
            </p>

            <p>
                <a href="http://djbook.ru">
                    <img src="/static/img/friends/djangobook.gif"
                         alt="djbook.ru">
                </a>
            </p>

            <p>
                <a href="http://pep8.ru">
                    <img src="/static/img/friends/pep8.gif" alt="pep8.ru">
                </a>
            </p>

            <p>
                <a href="http://vk.com/python_programing">
                    <img src="/static/img/friends/vk.gif"
                         alt="vk.com/python_programing">
                </a>
            </p>

            <p>
                <a href="http://vk.com/pynsk">
                    <img src="/static/img/friends/pynsk.png" alt="vk.com/pynsk">
                </a>
            </p>

            <p>
                <a href="https://vk.com/vk_python">
                    <img src="/static/img/friends/vk_python_banner.png"
                         alt="vk.com/vk_python">
                </a>
            </p>
        </center>
    </div>
</div>