{% load micawber_tags %}
{% load likes_inclusion_tags %}
{% load remdow %}
{% load video %}

<noindex>
    <div class="issue-item">


        {% likes item 'likes/inclusion_tags/likes_item.html' %}
        &nbsp;
        <span class="">
            <a href="{{ item.internal_link }}" title="Прокомментировать ссылку"><i class="fa fa-comments-o"></i></a>
        </span>
    <span title="Язык новости" class="badge issue-item-language issue-item-bages issue-item-resource
    {% if item.language == 'en' %}
        en
    {% elif item.language == 'ru' %}
        ru
    {% endif %}
    ">
    &nbsp;
    </span>
        <a class="issue-item-title"
           onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
           rel="nofollow"
           href="{{ item.link }}"
           target="_blank">
            {{ item.title }}
        </a>

        {% if item.tags_as_links %}
            {% for tag_name, tag_link in item.tags_as_links %}
                <span class="badge issue-item-resource"><small><a href="{{ tag_link }}">{{ tag_name }}</a></small>
                </span>
            {% endfor %}
        {% endif %}

        {#    <span class="issue-item-bages">#}
        {#        {% if item.resource %}#}
        {#            <a title="Источник новости"#}
        {#               rel="nofollow"#}
        {#               href="{{ item.resource.link }}"#}
        {#               class="badge issue-item-resource"#}
        {#               target="_blank">#}
        {#                {{ item.resource }}#}
        {#            </a>#}
        {#        {% endif %}#}
        {##}
        {#        {% if item.is_editors_choice %}#}
        {#            <span class="badge issue-item-resource">#}
        {#              <i title="Выбор редакции"#}
        {#                 class="goodnews fa fa-thumbs-o-up"></i>#}
        {#            </span>#}
        {#        {% endif %}#}
        {##}
        {#    </span>#}

        <p class="issue-item-description">{{ item.description|default:''|img_local|img_responsive|img_lazy }}</p>

        {% if item.additionally or item.section == 'Видео' %}
            {% include 'blocks/_video_item.html' with link=item.additionally %}
        {% else %}
            {% include 'blocks/_video_item.html' with link=item.link %}
        {% endif %}

    </div>
</noindex>