{% load i18n %}
{% load account_tags %}
{% load static %}


<div class="jumb container-fluid">



    <div class="row">

        <div class="container">

            <div class="jumb-text col-md-9">
              <h3>IT-новости и проекты из мира Python, которые стоит знать</h3>
                <p><big>Анализируем все Python ресурсы и собираем в одном самые важные ссылки<br>
                    Добавляйте ссылки на
                    интересные новости, статьи, интервью или
                    Python проекты.
                </big></p>
            </div>

            <div class="col-md-3">
                <a class="btn btn-lg btn-success"  style="margin-top: 30px; margin-left: 30px"
                   href="{% url 'digest:addnews' %}">Добавить новость</a>
            </div>

        </div>
    </div>
</div>
