{% load i18n %}
{% load account_tags %}
{% load static %}

<div class="hidden-md-down">
    <div class="col-md-2">
        <a href="{% url 'frontend:index' %}">
            <img class="img-responsive" src="{% static 'img/logo.png' %}" alt="logo">
        </a>
    </div>
    <div class="col-md-8">
        <h3 class="text-center">Всё самое интересное прямо здесь и сейчас!</h3>
        <p>Новости собираются с мира по нитке на совершенно безвозмездной основе. <br>
            Ты легко можешь посодействовать проекту, добавив ссылку на интересную новость, статью, интервью или
            проект о python.<br>
            А еще можно форкнуть код этого проекта на <a aria-label="Star pythondigest/pythondigest on GitHub"
                                                         href="https://github.com/pythondigest/pythondigest"
                                                         class="github-button">GitHub</a>
            и помочь в развитии его функциональности. <br>
            И еще один вариант - проголосовать <a href="http://yasobe.ru/na/pydigest">рублем</a>
        </p>
    </div>

    <div class="col-md-2">
        <a class="btn btn-success" href="{% url 'digest:addnews' %}">Добавить новость</a>
    </div>
</div>

