{% load i18n %}
{% load account_tags %}
{% load static %}
{% load common %}


<div class="jumb container-fluid">



    <div class="row">
        <div class="container text-center">
            <div class="jumb-text col-md-12">
              <h3>IT-новости про Python, которые стоит знать</h3>
                <p><big>Собрали в одном месте самые важные ссылки<br>{% autoescape off %}{% jumb_ads %}{% endautoescape %}</big></p>
            </div>
{% comment %}
            <div class="col-md-3">
                <a class="btn btn-lg btn-success add-button"
                   href="{% url 'digest:addnews' %}">Добавить новость</a>
            </div> {% endcomment %}

        </div>
    </div>
</div>
