{% load i18n %}
{% load account_tags %}
{% load static %}

<nav class="navbar navbar-default navbar-digest issue-end" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <a class="navbar-brand" href="{% url 'frontend:index' %}">
        <big>Python Дайджест</big>
        <br>
        <small>Всё самое интересное прямо здесь и сейчас!</small>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'digest:feed' %}">НОВОСТИ</a></li>
            <li><a href="{% url 'digest:issues' %}">ВЫПУСКИ</a></li>
            <li><a href="{% url 'frontend:friends' %}">НАШИ ДРУЗЬЯ</a></li>
            <li><a href="http://yasobe.ru/na/pydigest">ПОМОЧЬ ПРОЕКТУ</a></li>
        </ul>
    </div>
</nav>

<br>


<div class="jumb hidden-xs container-fluid alert alert-dismissable">
    <div class="row">

        <div class="container">


            <div class="col-md-1">
                <div class="top-img pull-left product"><a href="{% url 'frontend:index' %}"><img
                        src="{% static "img/logo.png" %}"></a>
                </div>
            </div>

            <div class="jumb-text col-md-9 pull-left text-capitalize">
                <p><big>Новости собираются с мира по нитке на совершенно безвозмездной основе. <br>
                    Ты легко можешь посодействовать проекту, добавив ссылку на интересную новость, статью, интервью или
                    проект о python.<br>
                    А еще можно форкнуть код этого проекта на <i class="fa fa-github-alt"></i> Github и помочь в
                    развитии его функциональности. <br>
                    И еще один вариант - проголосовать <a href="http://yasobe.ru/na/pydigest">рублем</a>
                </big></p>
            </div>

            <div class="col-md-1 pull-left">
                <a class="btn btn-lg btn-success text-right  " href="{% url 'digest:addnews' %}">Добавить новость</a>
            </div>

        </div>
    </div>
</div>

