{% load i18n %}
{% load account_tags %}
{% load static %}

<nav class="navbar navbar-default navbar-digest issue-end" role="navigation">
    <a class="navbar-brand" href="{% url 'frontend:index' %}">
        <big>Python Дайджест</big>
    </a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'digest:feed' %}">НОВОСТИ</a></li>
            <li><a href="{% url 'digest:issues' %}">ВЫПУСКИ</a></li>
            <li><a href="{% url 'frontend:friends' %}">НАШИ ДРУЗЬЯ</a></li>
            <li><a href="https://boosty.to/pydigest">ПОМОЧЬ ПРОЕКТУ</a></li>
        </ul>
    </div>
</nav>
