{% load common %}

<div class="panel panel-default">
    <div class="panel-heading">
        <center><h4>{% money_block_title %}</h4></center>
    </div>
    <div class="panel-body">
        <center>
            <iframe frameborder="0" allowtransparency="true" scrolling="no"
                    src="https://money.yandex.ru/embed/donate.xml?account=41001222156458&quickpay=donate&payment-type-choice=on&default-sum=100&targets=%D0%9D%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+Python&target-visibility=on&project-name=Python+%D0%94%D0%B0%D0%B9%D0%B4%D0%B6%D0%B5%D1%81%D1%82&project-site=http%3A%2F%2Fpythondigest.ru%2F&button-text=02&successURL=http%3A%2F%2Fpythondigest.ru%2F"
                    width="490" height="131"></iframe>
        </center>
    </div>
</div>