<div class="panel panel-default ">
    <div class="panel-body">
        <form action="{% url 'digest:feed' %}" role="form">
            <input type="text" name="q" type="text" class="search-input"
                   value="{{ request.GET.q|default:'' }}"
                   placeholder=" Поиск...">
        </form>

    </div>
</div>


{% comment %}


{% endcomment %}


{% include "blocks/_adv_yandex.html" %}
{% include 'advertising/blocks/ads.html' with ads=ads type='right' %}
{% with items=feed_items %}
    {% include "digest/blocks/_feed.html" %}
{% endwith %}


{% include "blocks/_friends.html" %}
{% with items=favorite_items %}
    {% include "digest/blocks/_favorite_items.html" %}
{% endwith %}

{% comment %} {% include "blocks/_adv.html" %} {% endcomment %}
{% comment %} {% include "blocks/_orphus.html" %} {% endcomment %}
