{% load i18n %}
{% load staticfiles %}
{% if import_js %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'likes/includes/likes.js' %}"></script>
{% endif %}

{% if likes_enabled %}

    <div class="likes">
        {% if can_vote %}
            <a class="liker btn btn-xs" type="button"
               href="{% url "like" content_type content_obj.id 1 %}" rel="nofollow">
                <i title="Одобряю"
                   class="fa fa-thumbs-o-up">

                </i>
                <big>Нравится!</big>
            </a>

            <a class="liker btn btn-xs" type="button"
               href="{% url "like" content_type content_obj.id -1 %}" rel="nofollow">
                <i title="Не одобряю"
                   class="fa fa-thumbs-o-down">

                </i>
                <big>Не нравится!</big>
            </a>
        {% else %}

            <span class="liker btn-xs text-primary">
            <i title="Рейтинг"
               class="fa fa-star">
            </i>

                <big>Рейтинг: {{ content_obj.vote_total }}</big>

        </span>
        {% endif %}
    </div>


{% endif %}
