{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% if import_js %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endif %}


{% if likes_enabled %}

    <noindex>
    <span class="likes liker text-primary">
    {% if can_vote %}
        <a class="liker btn btn-xs" type="button"
           href="{% url "like" content_type content_obj.id 1 %}" rel="nofollow">
            <big>
                <i title="Одобряю"
                   class="fa fa-thumbs-o-up">
                </i>
            </big>
        </a>

        <a class="liker btn btn-xs" type="button"
           href="{% url "like" content_type content_obj.id -1 %}" rel="nofollow">
            <big>
                <i title="Не одобряю"
                   class="fa fa-thumbs-o-down">
                </i>
            </big>
        </a>
    {% else %}
        &nbsp;
        <span class="liker text-primary badge issue-item-resource">
            {{ content_obj.vote_total }} <i class="fa fa-star"></i>
        </span>
    {% endif %}
    </span>
    </noindex>

{% endif %}
