{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% if import_js %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endif %}


{% if likes_enabled %}

    <noindex>
    <span class="text-primary">
    {% if can_vote %}
        <a href="{% url 'like' content_type content_obj.id 1 %}" rel="nofollow">
                <i title="Одобряю" class="fa fa-thumbs-o-up"></i>
        </a>

        <a href="{% url 'like' content_type content_obj.id -1 %}" rel="nofollow">
                <i title="Не одобряю" class="fa fa-thumbs-o-down"></i>
        </a>
    {% else %}
        &nbsp;
        <span class="badge issue-item-resource">
            {{ content_obj.vote_total }} <i class="fa fa-star"></i>
        </span>
    {% endif %}
    </span>
    </noindex>

{% endif %}
