{% extends "base.html" %}
{% load pytils_dt %}
{% load common %}
{% load micawber_tags %}

{% block content %}
<div class="container news-list">

    <div class="col-md-12 nopad" style="text-align: right;">
        {% with lang=request.GET.lang|default:'any' %}
        <div class="btn-group">
            <a class="btn btn-default {% if lang == 'any' %}active{% endif%}" href="{% modify_url 'del_query_param' 'lang' %}">Все</a>
            <a class="btn btn-default {% if lang == 'ru' %}active{% endif%}" href="{% modify_url 'set_query_param_np' 'lang' 'ru' %}">Только на русском</a>
            <a class="btn btn-default {% if lang == 'en' %}active{% endif%}" href="{% modify_url 'set_query_param_np' 'lang' 'en' %}">Только на английском</a>
        </div>
        {% endwith %}
    </div>
    {% for item in items %}
        {% with object=item %}
            {% include 'blocks/_feed_item.html' %}
        {% endwith %}

    {% empty %}
    <div class="alert alert-warning pull-left">
        <strong>Печально но факт!</strong> В этой ленте нет новостей.
    </div>
    {% endfor %}
</div>

{% include "blocks/_pagination.html" %}
{% endblock %}
