{% extends "base.html" %}
{% block jumb %}
{% endblock %}
{% block content %}

<div class="col-lg-8 col-lg-offset-2">
    <div class="card card-block">
        <h4 class="card-title">Добавить новость в Дайджест</h4>
        <div class="alert alert-warning" role="alert">
            Мы не размещаем новости откровенно рекламного характера.<br />
            Ссылки на платные ресурсы размещаются за деньги, пишите на email: <a class="alert-link" href="mailto:mail@pythondigest.ru">mail@pythondigest.ru</a><br>
        </div>

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

        <form role="form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-danger text-danger{% endif %}"
                     {% if field.is_hidden %}style="display: none" {% endif %}>
                    <label class="control-label" for="id_{{field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                    {{ field }}
                    {% if field.errors %}
                        <span class="text-danger">{{ field.errors|striptags }}</span>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" value="Отправить" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

{% endblock %}
