{% extends "base.html" %}
{% block jumb %}
{% endblock %}
{% block content %}
{% load i18n %}

<div class="col-lg-8 col-lg-offset-2">
    <div class="card card-block">
        <h4 class="card-title">{% trans 'Add news to the Digest' %}</h4>
        <div class="alert alert-warning" role="alert">
            {% blocktrans %}We don't host news openly advertising.<br />
            Links to resources hosted on a paid for money, email us on: {% endblocktrans %}<a class="alert-link" href="mailto:mail@pythondigest.ru">mail@pythondigest.ru</a><br>
        </div>

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

        <form role="form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-danger text-danger{% endif %}"
                     {% if field.is_hidden %}style="display: none" {% endif %}>
                    <label class="control-label" for="id_{{field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                    {{ field }}
                    {% if field.errors %}
                        <span class="text-danger">{{ field.errors|striptags }}</span>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" value="{% trans 'Send' %}" class="btn btn-primary">{% trans 'Send' %}</button>
        </form>
    </div>
</div>

{% endblock %}
