{% extends "base.html" %}
{% load thumbnail %}

{% block fullwidth %}
        {% for item in object_list %}
            {% thumbnail item.image "x200" as im %}
            <div class="issue-card col-xs-12 col-md-4 col-lg-3 ">
                <a href="{% url 'digest:issue_view' pk=item.pk %}" title="Дайджест python, {{ item.title }}  {{ item.description|striptags }}">
                    <div class="card text-xs-center">
                        <div class="card-header">
                            <h4 class="card-title">{{ item.title }}</h4>
                            <p class="card-text">
                                <span class="text-muted">
                                ({{ item.date_from|date:"d.m.Y" }} - {{ item.date_to|date:"d.m.Y" }})
                                </span>
                            </p>
                        </div>
                        <div class="card-block">
                            <img src="{{ im.url }}" data-src="..." alt="Дайджест python, {{ item.title }}">
                        </div>
                    </div>
                </a>
            </div>
            {% endthumbnail %}
        {% empty %}
            <p>Пока еще ни одного выпуска</p>
        {% endfor %}
    {% include "blocks/_pagination.html" %}
{% endblock %}

{% block right_panel %}
{# hide right panel#}
{% endblock %}

{% block rss_url %}{% url 'frontend:issues_rss' %}{% endblock %}