{% load staticfiles %}
{% load ads_tags %}
{% load compress %}
{% load remdow %}
{% load common %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{% locale %}">
<head>
    <title>{% block page_title %}Дайджест новостей о python{% endblock %}{% block head_title %}{% endblock %}</title>
    <meta name="description"
          content="{% block page_description %}{% blocktrans %}A weekly compilation of the latest and most important news about Python. Videos, articles, training materials, releases of libraries and projects. A lot of content about Django, Flask, numpy, and machine learning{% endblocktrans %}{% endblock %}">
    <meta name="keywords"
          content="{% blocktrans %}python, django, flask, news about python, {% endblocktrans %}{% block page_keywords %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="xmFhSQB965UrnljIBWvhTpVpuCEM64LyC6WU-oPXTjM"/>

    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS"
          href="{% block rss_url %}{% url 'frontend:rss' %}{% endblock %}"/>
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {% endblock %}



    {% compress css %}
        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/vs.css' %}">
    {% endcompress %}

    <script type="text/javascript" src="{% static 'tether/js/tether.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tether/css/tether.min.css' %}">



    {% block html5shim %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
                <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
    {% endblock %}

    <script type="text/javascript" async src="https://relap.io/api/v6/head.js?token=n0kwmZcTi3aLjYiN"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% lazy_script_include %}

    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}"
        {% block body_extra_attributes %}{% endblock %}>
<header>
{% block nav_bar %}

{% endblock nav_bar %}

{% block top_menu %}
    {% include "blocks/_menu.html" %}
{% endblock %}
</header>

<main class="container-fluid">
    {% block main %}
    <div class="row">
        {% block jumb %}
        {% include "blocks/_jumb.html" %}
        {% endblock %}
    </div>

    <div class="row">
        {% if messages %}
            {% include "blocks/_messages.html" %}
        {% endif %}
        {% include 'advertising/blocks/ads.html' with ads=ads type='top' %}
    </div>

    {% block fullwidth %}
    <div class="row">
        <div class="main-content col-md-9">
            {% block extra_body %}{% endblock %}
            {% block body %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        <div class="right-panel col-md-3">
            {% block pre_right_panel %}{% endblock %}
            {% block right_panel %}
                {% include 'blocks/_right_panel.html' %}
            {% endblock %}
            {% block post_right_panel %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    {% endblock %}
    <!-- /container-fluid -->
</main>

<div class="container-fluid">
    {% include 'advertising/blocks/ads.html' with ads=ads type='footer' %}
</div>

<footer class="footer bg-inverse">
    {% include 'blocks/_footer.html' %}
</footer>


<!--<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% compress js %}
    <script type="text/javascript" src="{% static 'js/vendor/orphus/orphus.js' %}"></script>
    {% if likes_enable %}
        <script type="text/javascript" src="{% static 'likes/includes/likes.js' %}"></script>
    {% endif %}
{% endcompress %}

<!--Google Analytics-->
{% include 'blocks/_ga.html' %}
<!--/Google Analytics-->

<!--Yandex Metrika-->
{% include 'blocks/_yandex_metrika.html' %}
<!--/Yandex Metrika-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56e56461495537bc"></script>


{% block scripts %}{% endblock %}


</body>

</html>
