{% load staticfiles %}
{% load ads_tags %}
{% load compress %}
{% load remdow %}
{% load common %}

<!DOCTYPE html>
<html lang="{% locale %}">
<head>
    <title>{% block page_title %}Дайджест новостей о python{% endblock %}{% block head_title %}{% endblock %}</title>
    <meta name="description"
          content="{% block page_description %}Еженедельная подборка свежих и самых значимых новостей o Python. Видео, статьи, обучающие материалы, релизы библиотек и проектов. Много контента про Django, Flask, numpy и машинное обучение{% endblock %}">
    <meta name="keywords"
          content="питон, python, django, flask, новости о python, {% block page_keywords %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="xmFhSQB965UrnljIBWvhTpVpuCEM64LyC6WU-oPXTjM"/>

    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS"
          href="{% block rss_url %}{% url 'frontend:rss' %}{% endblock %}"/>
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block styles %}{% endblock %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/vs.css' %}">
    {% endcompress %}



    {% block html5shim %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
                <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
    {% endblock %}

    <script type="text/javascript" async src="https://relap.io/api/v6/head.js?token=n0kwmZcTi3aLjYiN"></script>
    {% lazy_script_include %}

    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}"
        {% block body_extra_attributes %}{% endblock %}>

{% block nav_bar %}

{% endblock nav_bar %}

{% block top_menu %}
    {% include "blocks/_menu.html" %}
{% endblock %}
<br>

{% block jumb %}
    {% include "blocks/_jumb.html" %}
{% endblock %}

<div class="site-body">
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% include "blocks/_messages.html" %}
                {% endif %}

                {% include 'advertising/blocks/ads.html' with ads=ads type='top' %}

            </div>

        </div>
        <div class="row">

            {% block extra_body %}{% endblock %}

            {% block body %}
            {% endblock %}

            {% block content %}{% endblock %}

        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'advertising/blocks/ads.html' with ads=ads type='footer' %}
            </div>
        </div>


    </div>
    {% include 'blocks/_footer.html' %}
</div>
<!-- /container -->


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% compress js %}
    <script type="text/javascript" src="{% static 'js/vendor/orphus/orphus.js' %}"></script>
    <script type="text/javascript" src="{% static 'likes/includes/likes.js' %}"></script>
{% endcompress %}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45532681-1', 'pythondigest.ru');
    ga('send', 'pageview');

    ga('create', 'UA-45532681-1', 'pythondigest.ru', {'name': 'url_tracker'});
    var trackUrl = function (id_news, section, tags) {

        ga('url_tracker.send', 'event',
                {
                    'eventCategory': section,
                    'eventAction': 'NewsLinkClick',
                    'eventLabel': tags,
                    'eventValue': id_news
                });

    };

</script>

{% if not perms.admin %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter36284495 = new Ya.Metrika({
                    id: 36284495,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks"); </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/36284495" style="position:absolute; left:-9999px;"
                  alt="Yandex counter"/></div>
    </noscript> <!-- /Yandex.Metrika counter -->
{% endif %}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56e56461495537bc"></script>


{% block scripts %}{% endblock %}


</body>

</html>
