{% load pytils_dt %}
{% load common %}
{% load micawber_tags %}

{% load remdow %}

<div class="item-container card">
    <div class="card-block">
    <noindex>
        <h5 class="card-title">
            {% if read_link %}
                {{ object.title }}
            {% else %}
                <a rel="nofollow"
                   href="{{ object.link }}"
                   onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
                   target="_blank">

                    {{ object.title }}

                </a>
            {% endif %}
        </h5>

        {% if like_link %}
            {% load likes_inclusion_tags %}
            {% likes object 'likes/inclusion_tags/likes_item.html' %}
        {% endif %}

        <div class="addthis_sharing_toolbox"></div>
        {% if object.description %}
            <p class="card-text">{{ object.description|default:''|img_local|img_center|img_responsive|img_lazy }}</p>
        {% endif %}
        {% if object.additionally and object.additionally|oembed_no_urlize != object.additionally %}
            {{ object.additionally|oembed }}
        {% endif %}
        {% if  object.link|oembed_no_urlize != object.link %}
            {{ object.link|oembed }}
        {% endif %}


        {% if read_link %}
            <a rel="nofollow" class="btn btn-primary btn-sm"
               href="{{ object.link }}"
               onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
               target="_blank">Читать>></a>
        {% endif %}
    </noindex>
    </div>

    <div class="card-footer text-muted">
        <!--TAGS-->
        {% if object.tags_as_links %}
            <p class="card-text">
                <small class="text-muted">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    Tags:&nbsp;
                </small>
                {% for tag_name, tag_link in item.tags_as_links %}
                    <a href="{{ tag_link }}">
                        <span class="label label-pill label-info">
                            {{ tag_name }}
                        </span>
                    </a>
                {% endfor %}
            </p>
        {% endif %}
        <!--/TAGS-->

        <!--CREATE DATE-->
        <p class="card-text">
            <small class="text-muted">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Create date:&nbsp;
                {{ object.created_at|date:"d.m.Y" }}
            </small>
        <!--/CREATE DATE-->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!--ISSUE-->
        {% if object.issue.status == 'active' %}
            <small class="text-muted">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                Issue:&nbsp;
                <a href="{{ object.issue.link }}" class="section-link">{{ object.issue.title }}</a>
                ({{ object.issue.date_from|date:"d.m.Y" }} -
                {{ object.issue.date_to|date:"d.m.Y" }})
            </small>
        {% endif %}
        <!--/ISSUE-->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!--SECTION-->
        {% if object.section %}
            <small class="text-muted">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                Section:&nbsp;
                <a href="{% modify_url 'set_query_param_np' 'section' object.section.pk %}">{{ object.section.title }}</a>
            </small>
        {% endif %}
        <!--/SECTION-->
        </p>

        <!--LANGUAGE-->
        <p class="card-text">
            <small class="text-muted">
                <i class="fa fa-language" aria-hidden="true"></i>
                Language:&nbsp;
            </small>
            <span title="Язык новости" class="badge news-line-item-resource {{ object.language }}">
            &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </p>
        <!--/LANGUAGE-->
    </div>
</div>