<div class="row">
    <div class="col-md-8 text-left">
        <h1>
          Python Дайджест. Выпуск {{ object.pk }}
        </h1>
        <p>({{ object.date_from|date:"d.m.Y" }}
            - {{ object.date_to|date:"d.m.Y" }})</p>
    </div>
    <div class="col-md-4 text-right">
        {% if object.trend %}
            <h3>
                {{ object.trend|safe }}
            </h3>
            <p>Тенденция недели</p>
        {% endif %}
        <div class="addthis_sharing_toolbox pull-right">поделиться выпуском&nbsp;</div>
    </div>

</div>

<div class="row">

    <div class="col-md-8 pull-left">
        {% if object.description %}
            <div class="index-description-content sidebar-module-inset">
                {{ object.description|safe }}

            </div>

        {% endif %}
        {% include 'advertising/blocks/ads.html' with ads=ads type='after_anounce' %}

    </div>


    <div class="col-md-4 {% if object.description %}pull-right{% endif %}">
        {% if object.image %}
            <img src="{{ object.image.url }}"
                 alt="pythondigest.ru: {{ object }}" class="img-thumbnail">
        {% endif %}
    </div>
    <hr>

</div>
