<div class="card card-block">
    <div class="row">
        <div class="col-md-4">
            <h1 class="card-title">{{ issue.title }}</h1>
            <p class="card-text">({{ issue.date_from|date:"d.m.Y" }} - {{ issue.date_to|date:"d.m.Y" }})</p>
        </div>

        {% if issue.trend %}
            <div class="col-md-8 text-xs-right">
                <h3 class="card-text">
                {{ issue.trend|safe }}
                </h3>
                <p class="card-text">Тенденция недели</p>
            </div>
        {% endif %}
    </div>
    <hr />

    <div class="row">
    {% if issue.description %}
        <div class="col-md-8">
            <p class="card-text">
                {{ issue.description|safe }}
            </p>
        </div>
    {% endif %}

    {% if issue.image %}
        <div class="col-md-4 hidden-md-down pull-md-right">
            <img src="{{ issue.image.url }}" alt="pythondigest.ru: {{ issue }}" class="img-fluid">
        </div>
    {% endif %}
    </div>

    {% include 'advertising/blocks/ads.html' with ads=ads type='after_anounce' %}
</div>