{% load micawber_tags %}

{% load remdow %}
{% load video %}

{% if item %}

    <noindex>
        <div class="issue-item">
            {% include 'digest/blocks/_item_as_line.html' with item=item language=True link_class='issue-item-title' comment=True likes=True %}

            {% if item.tags_as_links %}
                {% for tag_name, tag_link in item.tags_as_links %}
                    <span class="badge issue-item-resource"><small><a
                            href="{{ tag_link }}">{{ tag_name }}</a></small>
                </span>
                {% endfor %}
            {% endif %}

            {#    <span class="issue-item-bages">#}
            {#        {% if item.resource %}#}
            {#            <a title="Источник новости"#}
            {#               rel="nofollow"#}
            {#               href="{{ item.resource.link }}"#}
            {#               class="badge issue-item-resource"#}
            {#               >#}
            {#                {{ item.resource }}#}
            {#            </a>#}
            {#        {% endif %}#}
            {##}
            {#        {% if item.is_editors_choice %}#}
            {#            <span class="badge issue-item-resource">#}
            {#              <i title="Выбор редакции"#}
            {#                 class="goodnews fa fa-thumbs-o-up"></i>#}
            {#            </span>#}
            {#        {% endif %}#}
            {##}
            {#    </span>#}

            <p class="issue-item-description">{{ item.description|default:''|safe}}</p>

            {% if item.additionally or item.section == 'Видео' %}
                {% include 'digest/blocks/_item_video.html' with link=item.additionally %}
            {% else %}
                {% include 'digest/blocks/_item_video.html' with link=item.link %}
            {% endif %}

        </div>
    </noindex>
{% endif %}
