

{% if item %}
    {% if likes == True %}
        {% load likes_inclusion_tags %}
        {% likes item 'likes/inclusion_tags/likes_item.html' %}
        &nbsp;
    {% endif %}
    {% if comment %}

        <span class="likes liker text-primary">
                <a href="{{ item.internal_link }}" title="Прокомментировать ссылку"><i
                        class="fa fa-comments-o"></i></a>
                </span>
        &nbsp;
    {% endif %}
    {% if language %}
        <span title="Язык новости" class="badge issue-item-language issue-item-bages issue-item-resource
        {% if item.language == 'en' %}
            en
        {% elif item.language == 'ru' %}
            ru
        {% endif %}
        ">
        &nbsp;
        </span>
    {% endif %}

    <a rel="nofollow"
            {% if link_class %}
       class="{{ link_class }}"
            {% endif %}
       href="{{ item.link }}"
       onclick="trackUrl({{ item.pk }}, '{{ item.section }}', '{{ item.tags_as_str }}');"
       target="_blank">
        {{ item.title }}
    </a> {% if show_description and item.content %} - {{ item.content }}{% endif %}
{% endif %}