{% extends "base.html" %}
{% load menu_item thumbnail %}

{% block content %}
<div class="container cards-list">
    <div class="row">

    {% for item in items %}
    {% thumbnail item.image "x200" as im %}
        <div class="thumb col-sm-4 col-lg-4 col-md-4">
        
            <a href="{% url 'frontend:issue_view' pk=item.pk %}" 
               title="Дайджест python, {{ item.title }}  {{ item.description|striptags }}">
                <div class="thumbnail">

                    <div class="issue-title">
                        {{ item.title }}
                        <div class="issue-date">({{ item.date_from|date:"d.m.Y" }} - {{ item.date_to|date:"d.m.Y" }})</div>
                    </div>

                    <div class="issue-img">
                        <img src="{{ im.url }}" alt="Дайджест python, {{ item.title }}">
                    </div>

                </div>
            </a>
        
        </div>
    {% endthumbnail %}
    {% empty %}
           <p>Пока еще ни одного выпуска</p>
    {% endfor %}

    </div>
</div>
{% include "pagination.html" %}
{% endblock %}
