{% extends "base.html" %}
{% load pytils_dt %}
{% load common %}

{% block content %}
<div class="container news-list">

    <div class="col-md-12 nopad" style="text-align: right;">
        {% with lang=request.GET.lang|default:'any' %}
        <div class="btn-group">
            <a class="btn btn-default {% if lang == 'any' %}active{% endif%}" href="{% modify_url 'del_query_param' 'lang' %}">Все</a>
            <a class="btn btn-default {% if lang == 'ru' %}active{% endif%}" href="{% modify_url 'set_query_param_np' 'lang' 'ru' %}">Только на русском</a>
            <a class="btn btn-default {% if lang == 'en' %}active{% endif%}" href="{% modify_url 'set_query_param_np' 'lang' 'en' %}">Только на английском</a>
        </div>
        {% endwith %}
    </div>
    {% for item in items %}
        <div class="item-container">
            <div class="text-warning">
                <small>
                    {{ item.created_at|ru_strftime:"%d %B %Y" }}
                    {% if item.related_to_date %}
                    → {{ item.related_to_date|ru_strftime:"%d %B %Y" }}
                    {% endif %}
                    {% if item.section %}
                     → <a href="{% modify_url 'set_query_param_np' 'section' item.section.pk %}" class="section-link">{{ item.section.title }}</a>
                    {% endif %}
                </small>
            </div>
            {% if item.language = 'en' %}<i class="icon-en"></i>{% endif %}
            <noindex>
                <a rel="nofollow" href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                {% if item.is_editors_choice %}
                            &nbsp;<i title="Выбор редакции" class="goodnews fa fa-thumbs-o-up"></i>
                {% endif %}
            </noindex>
            <p class="text-muted">{{ item.description|default:''|safe }}</p>
        </div>
    {% empty %}
    <div class="alert alert-warning pull-left">
        <strong>Печально но факт!</strong> В этой ленте нет новостей.
    </div>
    {% endfor %}
</div>

{% include "pagination.html" %}
{% endblock %}
