<div class="masthead">
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-muted">Дайджест новостей из мира Python <a href="{% url 'frontend:rss' %}"><img src="/static/img/rss.jpg"></a></h3>
        </div>
        <div class="col-md-4">
          <script type="text/javascript" src="/static/js/vendor/orphus/orphus.js"></script>
          <a href="http://orphus.ru" id="orphus" target="_blank">
              <img alt="Система Orphus" src="/static/js/vendor/orphus/orphus.gif">
          </a>
        </div>
    </div>
    <ul class="nav nav-justified">
    	<li>
    	<a href="{% url "frontend:home" %}">Главная</a>
	</li>
	<li>
	<a href="{% url "frontend:issues" %}">Выпуски</a>
	</li>
	<li>
	<a href="{% url "frontend:feed" %}">Лента</a>
	</li>
        {% comment %}
        <li>
            <a href="#">О проекте</a>
        </li>
        {% endcomment %}
    </ul>
</div>
