{% load menu_item %}
{% spaceless %}
    <div class="container">
        <div class="row">
            <div class="top-logo col-md-5">
                <div class="top-img pull-left"><a href="http://pythondigest.ru/"><img src="/static/img/logo.png" ></a></div>
                <div class="top-name hidden-xs hidden-sm pull-left">PYTHON ДАЙДЖЕСТ</div>
                <div class="top-slogan hidden-xs hidden-sm pull-left text-muted">Всё самое интересное прямо здесь и сейчас!</div>
            </div>
            <div class="top-search col-md-3" align="center">
                <div class="search-form">
                    <form action="{% url 'frontend:feed' %}" class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" name="q" type="text" class="search-input" value="{{ request.GET.q|default:'' }}" placeholder=" ПОИСК...">
                            <button type="submit" class="search-btn btn btn-warning"><i class="fa fa-search fa-lg"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <script type="text/javascript" src="/static/js/vendor/orphus/orphus.js"></script>
            <div class="top-orfo hidden-xs hidden-sm col-md-4">
              <a href="http://orphus.ru" id="orphus" target="_blank">
                  <img alt="Система Orphus" src="/static/js/vendor/orphus/orphus.gif">
              </a>
            </div>
            <div class="top-orfo col-md-12 hidden-md hidden-lg">
                <a href="http://orphus.ru" id="orphus" target="_blank">
                  Заметили ошибку в тексте? Выделите мышкой и нажмите Ctrl + Enter
                </a>
            </div>
        </div>
    </div>
{% endspaceless %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% li_menu_item "url:frontend:home" "<i class='fa fa-home fa-lg'></i>" %}
        {% li_menu_item "url:frontend:issues" "ВЫПУСКИ" %}
        {% li_menu_item "url:frontend:feed" "ЛЕНТА" %}
        {% if request.user.is_staff %}
             {% li_menu_item "url:admin:index" "АДМ.ПАНЕЛЬ" %}
        {% endif %}
        {% comment %}
        <li>
            <a href="#">О проекте</a>
        </li>
        {% endcomment %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <!-- Jumbotron -->
    <div class="jumb">
      <div class="container alert alert-dismissable">
        {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
        <div class="jumb-text col-md-12">
            Новости собираются с мира по нитке на совершенно безвозмездной основе.
        </div>
        <div class="jumb-text col-md-9">
            Ты легко можешь посодействовать проекту, добавив ссылку на интересную новость, статью, интервью или проект о python.
        </div>
        <div class="jump-btn col-md-3" align="center">
            <a class="btn btn-lg btn-success" href="{% url 'frontend:addnews' %}">Добавить новость</a>
        </div>
        <div class="jumb-text col-md-12 pull-left">
            А еще можно форкнуть код этого проекта на <i class="fa fa-github-alt"></i> Github и помочь в развитии его функциональности.
        </div>
      </div>
    </div>
