{% extends "base.html" %}
{% load pytils_dt %}
{% load common %}
{% load micawber_tags %}

{% block content %}
    <div class="container news-list">
        <div class="alert alert-warning">
            <strong>Внимание!</strong> ссылки в этот раздел попадают без
            модерации.

            <p>Если вы заметили плохую ссылку сообщите нам:</p>

            <p></p>
            <ul>
                <li>в <a
                        href="https://gitter.im/pythondigest/pythondigest">Чат</a>
                </li>
                <li>по <a
                        href="mailto:pydigest@gmail.com?Subject=Раздел%20вакансий:%20плохая%20ссылка">E-mail</a>
                </li>
            </ul>
        </div>
        <h4>Вакансии: </h4>
        {% for vacancy in jobs %}

                <noindex>

                    <div class="media-body">
                        <h4>
                            <a href="{{ vacancy.link }}">{{ vacancy.title }}</a>
                        </h4>

                        <p class="text-muted">{{ vacancy.description|default:''|safe }}</p>

                        <div class="cl__gray marg__b_min">

                            {% if vacancy.employer_name %}
                                <span class="marg__r_mid"><strong>{{ vacancy.employer_name }}</strong></span>
                            {% endif %}

                            {% if vacancy.src_place_name %}
                                <p>{{ vacancy.src_place_name }}</p>
                            {% endif %}

                        </div>

                        {% if vacancy.salary_from or vacancy.salary_till %}
                            <span class="label label-info marg__r_mid">{{ vacancy.get_salary_str }}</span>
                        {% endif %}

                        <small class="cl__gray">
                            <small>{{ vacancy.published_at|date:"d E H:i" }}</small>
                        </small>
                    </div>

                    {% if vacancy.url_logo %}
                        <div class="media-right">

                            <img src="{{ vacancy.url_logo }}" class="img-thumbnail media-object">
                        </div>

                    {% endif %}
                    <hr>

                </noindex>


        {% empty %}
            <div class="alert alert-warning pull-left">
                <strong>Печально но факт!</strong> В этой ленте нет вакансий.
            </div>
        {% endfor %}
    </div>

    {% include "blocks/_pagination.html" %}
{% endblock %}
