name: run tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-22.04
    env:
      UV_PROJECT_ENVIRONMENT: .venv
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      #----------------------------------------------
      #  -----  install & configure uv  -----
      #----------------------------------------------
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml
          # venv will be created in .venv thanks to UV_PROJECT_ENVIRONMENT
      #----------------------------------------------
      # install dependencies
      #----------------------------------------------
      - name: Install dependencies
        run: uv sync --frozen

      #----------------------------------------------
      # Run poetry
      #----------------------------------------------
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1


  test:
    name: Test
    runs-on: ubuntu-22.04
    env:
      UV_PROJECT_ENVIRONMENT: .venv
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      #----------------------------------------------
      #  -----  install & configure uv  -----
      #----------------------------------------------
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml
          # venv will be created in .venv thanks to UV_PROJECT_ENVIRONMENT
      #----------------------------------------------
      # install dependencies
      #----------------------------------------------
      - name: Install dependencies
        run: uv sync --frozen
      #----------------------------------------------
      #              run test suite
      #----------------------------------------------
      - name: Run tests
        run: |
          source .venv/bin/activate
          coverage run --source='.' manage.py test
          coverage report
          coverage xml
